.container{
	display:grid;
	grid-template-columns:repeat(2fr, 60px);
	grid-template-rows:repeat(2fr, 60px);

}
.text-details{
	align-items:center;
	text-align:center;
}

.card{
	align-items:center;
	text-align:center;
	cursor:pointer;
	box-shadow:1px 1px 10px gray;
	border-radius:5px;
}

img{
	object-fit:object-fit;
}